.profile-card {
          max-width: 400px;
          height: auto; /* Adjust height as needed */
          margin: auto;
          margin-top: 4;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .profile-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .profile-avatar {
          width: 150px; /* Increased size */
          height: 150px; /* Increased size */
          margin-bottom: 16px;
          border: 2px solid white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        